VITE_AQUAHOME_API_URL=http://localhost:8082
VITE_FISHDEX_API_URL=http://localhost:8081
VITE_AUTH_ISSUER=http://localhost:8080
VITE_AUTH_CLIENT_ID=aquahome-fe
VITE_AUTH_REDIRECT_URI=http://localhost:5173/callback
VITE_AUTH_POST_LOGOUT_URI=http://localhost:5173
